# Compiler: gcc (Debian 12.2.0-14+deb12u1) 12.2.0
CONFIG_GCC_VERSION=120200
CONFIG_ADC=y
# CONFIG_ADC_EXYNOS is not set
# CONFIG_ADC_SANDBOX is not set
# CONFIG_SARADC_MESON is not set
# CONFIG_SARADC_ROCKCHIP is not set
# CONFIG_ADC_IMX93 is not set
